html {
    scroll-behavior: smooth; 
}

body {
    background-color: rgb(26, 97, 97);
    font-size: 16px;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

header {
    background-color: rgb(85, 85, 145);
    text-shadow: 3px 3px black;
    padding: 20px;
    text-align: center;
    color: #fff;
}

h1 {
    font-weight:900;
}

h2 {
    font-weight:700;
}


nav {
    background-color: rgb(179, 108, 179);
    
}

nav a {
    color: #000103;
    padding: 10px 20px;
    font-weight: 600;
    float:right;
    list-style-type: none;
}

nav ul {
    list-style-type: none;
}


a:hover,a:active, a:focus {
    color: red;
    font-weight: bold;
}

.aboutme {
    padding: 20px;
    background-color: rgb(46, 143, 143);
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


.main {
    border: 2px solid white;
    padding: 30px;
    margin: 10px;
    width: 100%;
    flex-shrink: 1;
}


.titles, .code {
    position: relative;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, sans-serif;
    color: white;
    text-shadow: 3px 3px rgb(78, 78, 78);
}

.code {
    font-weight: 600;
    color: rgb(21, 214, 63);
    text-shadow: 1px 1px white;
}

.hero_calc, .hero_calendar, .hero_clock, .hero_running, .hero_led {
    background-size: cover;
    background-position: center;
}

.hero_calc {
    background-image: url("../pictures/hero.calc.jpg");
    
}

.hero_calendar {
    background-image: url("../pictures/hero.calendar.jpg");
    
}


.hero_clock {
    background-image: url("../pictures/hero.clock.jpg");
    
}

.hero_run {
    background-image: url("../pictures/hero.run.png");
    
}

.hero_led {
    background-image: url("../pictures/hero.led.png");
    
}

footer {
    background-color: rgb(85, 85, 145);
    text-align: center;
    color: #fff;
    text-shadow: 3px 3px black;
}

@media screen and (min-width: 768px) {
.main {
    width: 50%;
}
.content {
    width: 100%;
}
.box1 {
    flex-grow: 1;
}

.boxes {
    width: 45%;
    flex-shrink: 1;
}

}

@media screen and (min-width: 992px) {
.main {
    width: 50%;
}
.content {
    width: 100%;
}
.box1 {
    flex-grow: 1;
}

.boxes {
    width: 45%;
    flex-shrink: 1;
}
}

